---
import Layout from "../layouts/Layout.astro";
import Hero1 from "../components/lofi/Hero/Hero1.astro";
import Hero2 from "../components/lofi/Hero/Hero2.astro";
---

<Layout title="Vrtue Digital Astro Components with Tailwind">
  <h2 class="text-center mt-14">Hero 1</h2>
  <Hero1
    title="Medium length hero headline goes here"
    subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat."
  />

  <h2 class="text-center mt-14">Hero 2</h2>
  <Hero2
    title="Medium length hero headline goes here"
    subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat."
  />
</Layout>
