---
import Layout from "../layouts/Layout.astro";

import Container from "../layouts/Container.astro";
import Card from "../components/Card.astro";
---

<Layout title="Vrtue Digital Astro Components with Tailwind">
  <Container>
    <div class="my-10">
      <a href="/hero" class="underline text-4xl">Hero Sections Lo Fi</a>
    </div>
    <Card></Card>
  </Container>
</Layout>
