---
export interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<li class="cursor-fancy">
 <div class="h-20 w-20 bg-green-300"></div>
</li>
